{{!-- Recursive partial for rendering navigation items with unlimited nesting --}}
<div class="nav-item-wrapper {{this.cssClass}}" data-nav-id="{{this.id}}">
	{{#if this.children.length}}
		<button class="nav-dropdown-toggle" aria-label="Toggle {{this.label}} submenu">
			{{this.label}} 
			<span class="dropdown-arrow">▼</span>
		</button>
		<ul class="nav-submenu">
			{{#each this.children}}
				<li class="nav-subitem">
					{{> nav-item}}
				</li>
			{{/each}}
		</ul>
	{{else}}
		{{#if (eq this.target "blank")}}
			<a href="{{this.url}}" target="_blank" class="nav-link">{{this.label}}</a>
		{{else}}
			<a href="{{this.url}}" class="nav-link">{{this.label}}</a>
		{{/if}}
	{{/if}}
</div>
